.quadrado-estiloso{


     width: 200px;
     height: 200px;
     background-color: red;
     margin-left: 40%;
     margin-top: 15%;
     padding: 50px;
     
}

h1{



     text-align: center;
     color: aqua;
     margin-top: 50px;
}